.footer-container {
    background-color: #191970;
    padding: 1rem 1 1rem 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #03112C;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
}